textarea{
  width: 40em;
  height: 5em;  

}


.CardField {
  background-color: #b8ba7d;
  column-count: 5;
}


.Card {
  margin: 1px; 
  background-color: #f0f0f0;
      /*maxWidth: "200px",*/
      /* display: "inline-block", */
  word-break: break-all;
  vertical-align: top;
  line-height: 1em;
  font-size: 12px;
  break-inside: avoid;
} 